TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_HTTP_PORT=8081
TELEGRAM_BIND_ADDRESS=127.0.0.1
TELEGRAM_DATA_DIR=/var/lib/telegram-bot-api
TELEGRAM_TEMP_DIR=/var/lib/telegram-bot-api/temp
TELEGRAM_VERBOSITY=1
TELEGRAM_BOT_API_REF=e3e9dd8e5b3d7ab8537cd5a10dc31d5ffa8f82d1
BUILD_JOBS=2
